@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova-Semibold.woff2') format('woff2'),
         url('/fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova-Bold.woff2') format('woff2'),
         url('/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: 'Proxima Nova', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* custom colors for the theme */
    --color-primary: #2a2a2a;
    --color-secondary: #7b94fe;
    --color-text: #ffffff;
}

/* global styles */
body {
    background-color: var(--color-primary);
    color: var(--color-text);
}
